<div id="list-selection-dialog" class="modal">
	<div class="modal-header">
		<h1 class="dialog-title">{{DIALOG_TITLE_LIST_SELECTION}}</h1>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div id="list-label"></div>
		</div>
		<br>
		<div class="row-fluid">
			<div id="list-table" class="modal-scroll-list"></div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row-fluid">
			<div class='span6'>
				<div id="dialog-status"></div>
			</div>
			<div class='span6'>
				<button data-button-id="cancel" class="dialog-button btn cancel btn-80">{{BUTTON_CANCEL}}</button>
        		<button data-button-id="ok" class="dialog-button btn primary btn-80">{{BUTTON_OK}}</button>
			</div>
		</div>
	</div>
</div>
